.toast {
    opacity: 1 !important;
}
html, body {
    margin: 0;
    padding: 0;
    width: 1280px;
    height: 800px;
}
.container {
    display: flex;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.preview {
    width: 100%;
    height: 100%;
}
.btn-group {
    overflow: hidden;
    width: 100%;
    height: 5%;
    bottom: 0;
    position: fixed;
    z-index: 10;
    display: flex;
}
.btn {
    background-color: #04AA6D;
    border: 1px solid green;
    color: white;
    cursor: pointer;
    float: left;
    flex: 1 1 auto;
    text-align: center;
    max-width: 20%;
}
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}
.btn:not(:last-child) {
    border-right: none;
}
.btn:hover {
    background-color: #3e8e41;
}
