<!doctype html>
<title>Snapshotmaker</title>
<link rel="stylesheet" href="{{ url_for('static', filename='toastr.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<div class="btn-group">
    <button class="btn">SAMPLE</button>
    <button class="btn">SAMPLE</button>
    <button class="btn">SAMPLE</button>
    <button class="btn">SAMPLE</button>
    <button class="btn">SAMPLE</button>
    <button class="btn">SAMPLE</button>
</div>
<button class="refresh" onClick="document.location.reload(true)">Перезагрузить</button>
<div class="container">
    <img class="preview" src="{{ mjpg_address }}"></img>
</div>
<script src="{{ url_for('static', filename='jquery-3.6.0.min.js') }}"></script>
<script src="{{ url_for('static', filename='toastr.js') }}"></script>
<script>
    var camera_id = new URLSearchParams(window.location.search).get('camera_id');

    $(document).ready(function checkAddress() {
        console.log(window.location.search);
        if (camera_id == "" || camera_id == null || camera_id == undefined)
        {
            camera_id = prompt("Please enter auditory id", "435_MIEM");
            if (camera_id == null || camera_id == "" || camera_id == undefined) {
                toastr["error"](`No auditory is choosen`);
            } else {
                toastr["info"]("Current auditory:" + camera_id);
                window.location.search = "?camera_id=".concat(camera_id);
            }
        }
    });
    
    toastr.options = {
        "closeButton": true,
        "debug": false,
        "newestOnTop": true,
        "progressBar": true,
        "positionClass": "toast-top-full-width",
        "preventDuplicates": false,
        "onclick": null,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "10000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
    }

    async function postData(url = '', data = {}) {
        const response = await fetch(url, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(data) // body data type must match "Content-Type" header
        });
        return await response.json(); // parses JSON response into native JavaScript objects
    }

    async function getData(url = '') {
        const response = await fetch(url, {
        method: 'GET',
        });
        return await response.json();
    }
    
    getData('/channel_list/get?camera_id='.concat(camera_id)).then((data) => {
        if (data['error']) {
            toastr["error"](`Возникла ошибка при загрузке списка каналов. Загружены стандартные каналы.`);
        } else {
            buttons = document.getElementsByClassName("btn");
            for (i in data['channel_list']) {
                buttons[i]['req_json'] = {'addresses_list': [{"channel": data['channel_list'][i], "topic": "Фото доски"}], 'camera_id': camera_id}
                buttons[i].innerHTML = data['channel_list'][i];
                buttons[i].onclick = (btn=buttons[i]['req_json']) => {
                    toastr["success"](`Фото доски отправлено в канал: ${btn.target['req_json'].addresses_list[0].channel}, тему: ${btn.target['req_json'].addresses_list[0].topic}.`);
                    postData('/snapshot/make', btn.target['req_json']).then((data) => {
                        if (data['error']) {
                            toastr["error"](`Возникла ошибка: ${data['error']}`)
                        }
                    });
                }
            }
        }
    });
    
    
    
</script>